html {
    font-family:  Helvetica, sans-serif;
    background-color: #ddd;
}

.header-menu{
    position:fixed;
    width:100%;
    height:10%;
    display: flex;
    z-index: 1000;
    background-image: radial-gradient(circle, #000000, #ff0000);
    background-color: black;
    top:0;
    left:0;
    margin: 0 ;
    padding: 0;
    list-style: none;
}

.header-menu img{
    display: block;
    
}

.header-menu span{
    color: rgb(250, 250, 250);
    display: inline-block;
    padding: 3%;
    margin-left: 10%;
    font-weight: 600;
    position: relative;
    
}

.header-menu span:hover{
    border-bottom: 3px solid red;
    top:0;
    padding-bottom: 7px;
    
}

.container {
    max-width: 1000px;
    height:1000px;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
  
}
.featured-image{
    text-align: center;
}

.featured-image img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.bold{
    font-weight: 700;
}

.header {
    text-align: center;
}

.main-title {
    font-size: 60px;
    color: red;
}

.main-paragraph{
    font-style: italic;
}

.biography-container{
    padding: 25px 15px;
    margin: 25px 0;
    border-top: 1px dashed #000000;
    border-bottom: 1px dashed #000000;
    background-color: #fff;
}

.quoter-container, .quote-container{
    background-color: #fff;
    padding: 30px;

}

.quoter-container blockquote{
    font-weight: bold;
    font-size: 30px;
}

.quoter-container p {
    font-style: italic;
}

.curiosidades-container{
    padding: 25px 15px;
    margin: 25px 0;
    border-top: 1px dashed #000000;
    border-bottom: 1px dashed #000000;
    background-color: #fff;
}

.curiosidades-container li{
    height: 60px;

}

.img-bold {
    font-weight: bold;
    text-align: center;
}